<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>FluentIL</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap-responsive.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/prettify/prettify.css")" rel="stylesheet" />
    <style>
        body
        {
            padding-top: 60px;
            padding-bottom: 40px;
            background-color: #FFFFFF;
            background-image: url("/Content/images/01010101.jpg");
            background-position: 0 40px;
            background-repeat: repeat-x;
            padding-top: 90px;
            position: relative;
        }
    </style>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
                    class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </a><a class="brand" href="@Url.Action("Index", "Home")">FluentIL</a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li id="menuHome"><a href="@Url.Action("Index", "Home")">Home</a></li>
                        <li id="menuSamples"><a href="@Url.Action("Index", "Samples")">Samples</a></li>
                        <li id="menuDownloads"><a href="@Url.Action("Index", "Downloads")">Downloads</a></li>
                        <li id="menuAboutUs"><a href="@Url.Action("Index", "AboutUs")">About us</a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <div class="container">
        @RenderBody()
        <div class="row">
            <hr />
            <footer>
                <p>FluentIL development team</p>
            </footer>
        </div>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/prettify/prettify.js")"></script>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-30292557-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
    @RenderSection("JavaScript", false)
</body>
</html>
